.braba_container{
    width: 70%;
}

h1,h3,p,a,button{
    font-family: "Helvetica Neue", Helvetica Arial, "Hiragino Sans GB", "Hiragino";
}

.one_page{
    height: 750px;
}

.one_page_bg{
    height: 800px;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
}

#one_page_bg{
    background-image: url("../img/905828.jpg");
}

.head_h1_content{
    margin-top: 150px;
    line-height: 75px;
    font-size: 50px;
    color: #ffffff;
}

.head_p_content{
    margin-top: 50px;
    color: #ffffff;
    margin-bottom: 50px;
}

.title_text{
    margin-left: 50px;
}


/** ตฺถาณ **/
.tow_page_list img{
    height: 800px;
    width: 100%;
}